{% set images = [
    'book_blue.png',
    'book_green.png',
    'book_orange.png',
    'book_red.png',
] %}

{% set publishmentStatuses = {
    'publish': 'Published',
    'meap': 'MEAP'
} %}

{% extends 'app.html.twig' %}

{% block title %}
    {{ book.title }}
    | Library
{% endblock %}

{% block content %}
    <div class='breadcrumbs-wr'>
        {{ include("components/breadcrumbs.html.twig", {
            items: [
                { text: "Books", href: path('home') },
                { text: book.title }
            ]
        }) }}
    </div>

    <div class='book-wr'>
        <div class='book'>
            <div class='img' style='background-image: url({{ book.thumbnailFilename ? asset("/uploads/" ~ book.thumbnailFilename) : asset("/images/") ~ random(images) }})'></div>

            <div class='text'>
                <ul class='header'>
                    <li>
                        <h2>{{ book.title }}</h2>
                    </li>
                    <li>
                        <i>{{ book.authors|map(a => a.name)|join(', ') }}</i>
                    </li>
                </ul>

                <ul class='subheader'>
                    {% if book.isbn %}
                        <li>
                            #{{ book.isbn }}
                        </li>
                    {% endif %}
                    {% if book.pageCount %}
                        <li>
                            {{ book.pageCount }}
                            pages
                        </li>
                    {% endif %}
                    {% if publishmentStatuses[book.publishmentStatus] %}
                        <li>
                            {{ publishmentStatuses[book.publishmentStatus] }}
                        </li>
                    {% endif %}
                    {% if book.publishedAt %}
                        <li>
                            {{ book.publishedAt.timestamp|date('Y') }}
                        </li>
                    {% endif %}
                </ul>

                <p>{{ book.longDescription|nl2br }}</p>

                <nav>
                    {% for category in book.categories %}
                        <a href="{{ path('categories_show', { id: category.id }) }}">{{ category.name }}</a>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </div>

    {% if relatedBooks|length > 0 %}
        <h2 class='subheader'>Related books<h2>

                <div class='cards-wr'>
                    {% for book in relatedBooks %}
                        {% set items = [book.authors|map(a => a.name)|join(', ')] %}

                        {% if book.publishedAt %}
                            {% set items = items|merge([book.publishedAt.timestamp|date('Y')]) %}
                        {% endif %}

                        {% if publishmentStatuses[book.publishmentStatus] %}
                            {% set items = items|merge([publishmentStatuses[book.publishmentStatus]]) %}
                        {% endif %}

                        {{ include("components/card.html.twig", {
                            image: book.thumbnailFilename ? asset("/uploads/" ~ book.thumbnailFilename) : asset("/images/") ~ random(images),
                            href: path('books_show', {id: book.id}),
                            title: book.title,
                            text: book.shortDescription ?: 'No description provided',
                            items: items
                        }) }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
